$primari-text-color: #212121;
$secondary-text-color: #757575;
$accent: #2196f3;
$background-color: #ffffff;
$background-color-btn: #188ce8;

body {
  font-family: "Roboto", sans-serif;
  color: $primari-text-color;
  background-color: $background-color;
}
h1,
h2,
h3,
h4,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.link:hover,
.link:focus {
  color: $accent;
}
