$mobile: 480px;
$tablet: 768px;
$desctop: 1200px;
$primari-text-color: #212121;
$secondary-text-color: #757575;
$accent: #2196f3;
$background-color: #ffffff;
$background-color-btn: #188ce8;

%section {
  @media screen and (min-width: $mobile) {
    width: $mobile;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: $desctop) {
    width: $desctop;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: $primari-text-color;
  background-color: $background-color;
}
h1,
h2,
h3,
h4,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.link:hover,
.link:focus {
  color: $accent;
}
