.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #ececec;
  }
}
