.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196f3;
  @media screen and (min-width: $desctop) {
    font-size: 26px;
    line-height: 1.2;
  }
  &__last-part--dark {
    color: #000000;
  }
  &__last-part--light {
    color: #ffffff;
  }

  &--header {
    margin-right: 93px;
  }
  &--footer {
    display: block;
    margin-bottom: 20px;
  }
}
