.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);

  &__name {
    padding: 40px 40px 12px 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
  }
  &__form-name {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
  }
  &__form-comment {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
  }
  &__textarea {
    margin-top: 4px;
    margin-bottom: 20px;
    resize: none;
    outline: none;
    padding: 12px 16px;
    height: 120px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  }
  &__textarea:hover,
  &__textarea:focus {
    cursor: pointer;
    border: 1px solid #2196f3;
  }
  &__form-imput {
    margin-top: 4px;
    padding-left: 42px;
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    fill: #212121;
    transition-property: border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__form-imput:hover,
  &__form-imput:focus {
    cursor: pointer;
    border: 1px solid #2196f3;
    fill: #2196f3;
  }
  &__form-imput:hover + &__form-icon,
  &__form-imput:focus + &__form-icon {
    fill: #2196f3;
  }
  &__accept {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  &__label-accept {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
  }
  &__btn-singup {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #ffffff;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 0;
    border: 0;
  }
  &__checkbox {
    appearance: none;
    outline: none;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='10' fill='none'%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='.2' d='m1.957 4.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }
  &__checkbox:checked {
    background-color: #2196f3;
    border-color: transparent;
  }
  &__accept-contract {
    margin-left: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #757575;
  }
  &__contract {
    text-decoration-line: underline;
    color: #2196f3;
  }
  &__form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
  }
  &__btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
  &__btn-close:hover,
  &__btn-close:focus {
    fill: #2196f3;
  }
  &__btn-close-icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
