.nav {
  &__list {
    display: flex;
    padding: 0;
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    position: relative;
    padding-bottom: 32px;
    padding-top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: $primari-text-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link--studio-blue {
    color: #2196f3;
  }
  &__link--studio-blue::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
  &__link--portfolio-blue {
    color: #2196f3;
  }
  &__link--portfolio-blue::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
  &__list--margl-mail {
    margin-left: 318px;
  }
  &__mailtel {
    display: flex;
    align-items: center;
    padding-bottom: 32px;
    padding-top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: $secondary-text-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: $secondary-text-color;
  }
  &__address {
    margin-right: 10px;
    fill: currentColor;
  }
}
