.section-middle {
  &__container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &__skills {
    display: flex;
    padding: 0;
  }
  &__skill-one,
  &__skill-four {
    display: flex;
    flex-direction: column;
  }
  &__skill-two,
  &__skill-three {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 74px;
  }
  &__skill-one,
  &__skill-two,
  &__skill-three {
    margin-right: 30px;
  }
  &__skill-four {
    padding: 0;
  }
  &__skill-name {
    display: block;
    width: 270px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  &__team-skill {
    display: block;
    width: 270px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
  }
  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    min-height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}
