.section-main {
  &__container {
    background-size: cover;
    background-position: center;
    background-color: #c4c4c4;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bgmain.jpg);
    @media screen and (min-width: 481px) {
      background-image: url(../images/bgmain.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/bg@2x.jpg);
      }
    }
    @media screen and (min-width: 769px) {
      background-image: url(../images/bgmain.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/bg@2x.jpg);
      }
    }
    @media screen and (min-width: 1201px) {
      max-width: 1600px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 200px;
      padding-bottom: 200px;
      background-image: url(../images/bgmain.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/bg@2x.jpg);
      }
    }
  }
  &__name {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.16;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    // @media screen and (min-width: $mobile) {
    //   padding-top: 118px;
    // }
    // @media screen and (min-width: $tablet) {
    //   // padding-top: 118px;
    // }
    @media screen and (min-width: $desctop) {
      width: 696px;

      font-weight: 900;
      font-size: 44px;
      line-height: 1.4;
      letter-spacing: 0.06em;
    }
  }
  &__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    padding: 0;
    border: 0;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #ffffff;
    background: #2196f3;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: $mobile) {
      // padding-bottom: 118px;
    }
    @media screen and (min-width: $tablet) {
      // padding-top: 118px;
    }
    @media screen and (min-width: $desctop) {
      width: 216px;
    }
  }
  &__btn:hover,
  &__btn:focus {
    background-color: $background-color-btn;
    color: #ffffff;
  }
}
