.section-clients {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &__name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  &__companys-item {
    display: flex;
    padding: 0;
  }
  &__companys-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    background: #ffffff;
    fill: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__companys-link:hover,
  &__companys-link:focus {
    fill: #2196f3;
    border: 1px solid #2196f3;
  }
  &__companys-name:not(:last-child) {
    margin-right: 30px;
  }
}
