.section-middle {
  &__container {
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width: $mobile) {
      margin-top: 60px;
      margin-bottom: 60px;
    }
    @media screen and (min-width: $tablet) {
      margin-top: 60px;
      margin-bottom: 60px;
    }
    @media screen and (min-width: $desctop) {
      display: flex;
      width: $desctop;
      margin-left: auto;
      margin-right: auto;
      margin-top: 94px;
      margin-bottom: 94px;
    }
  }
  &__skills {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
    }
    @media screen and (min-width: $desctop) {
      display: flex;
    }
  }
  &__skills:not(:last-child) {
    @media screen and (min-width: $mobile) {
      margin-bottom: 30px;
    }
  }
  &__skill-general {
    @media screen and (max-width: $desctop) {
width: 354px;
    }
  }
  &__skill-one,
  &__skill-three {
  @media screen and (max-width: $desctop) {
      margin-right: 30px;
    }
  }
  &__skill-one,
  &__skill-four {
    @media screen and (min-width: $desctop) {
      display: flex;
      flex-direction: column;
    }
  }
  &__skill-two,
  &__skill-three {
    @media screen and (min-width: $desctop) {
      display: flex;
      flex-direction: column;
      width: 270px;
      height: 74px;
    }
  }
  &__skill-one,
  &__skill-two,
  &__skill-three {
    @media screen and (min-width: $mobile) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: $desctop) {
      margin-right: 30px;
    }
  }
  &__skill-four {
    padding: 0;
  }
  &__skill-name {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media screen and (max-width: $mobile) {
      text-align: center;
    }
    @media screen and (min-width: $desctop) {
      display: block;
      width: 270px;
    }
  }
  &__team-skill {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    @media screen and (min-width: $desctop) {
      display: block;
      width: 270px;
    }
  }
  &__icons {
    background: #f5f4fa;
    border-radius: 4px;
    @media screen and (min-width: $mobile) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 450px;
      height: 120px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: $tablet) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 354px;
      height: 120px;
    }
    @media screen and (min-width: $desctop) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 270px;
      min-height: 120px;
      margin-bottom: 30px;
    }
  }
}
