.section-middle {
  &__container {
    @extend %section;
    @media screen and (min-width: $desctop) {
      display: flex;
      width: $desctop;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &__skills {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
    }
    @media screen and (min-width: $desctop) {
      display: flex;
    }
  }
  &__skills:not(:last-child) {
    @media screen and (min-width: $mobile) {
      margin-bottom: 30px;
    }
  }
  &__skill-general {
    width: 450px;
    @media screen and (min-width: $tablet) {
      width: 354px;
    }
    @media screen and (min-width: $desctop) {
      width: 270px;
    }
  }
  &__skill-one,
  &__skill-three {
    @media screen and (min-width: $tablet) {
      margin-right: 30px;
    }
  }
  &__skill-two,
  &__skill-three {
    @media screen and (min-width: $desctop) {
      display: flex;
      flex-direction: column;
    }
  }

  &__skill-one,
  &__skill-two,
  &__skill-three {
    @media screen and (min-width: $mobile) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: $desctop) {
      margin-bottom: 0px;
    }
    @media screen and (min-width: $desctop) {
      margin-right: 30px;
    }
  }
  &__skill-three {
    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
    }
  }
  &__skill-four {
    padding: 0;
  }
  &__skill-name {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media screen and (max-width: $tablet) {
      text-align: center;
    }
    @media screen and (min-width: $desctop) {
      display: block;
      width: 270px;
    }
  }
  &__team-skill {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    @media screen and (min-width: $desctop) {
      display: block;
      width: 270px;
    }
  }
  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f4fa;
    border-radius: 4px;
    @media screen and (min-width: $mobile) {
      width: 450px;
      height: 120px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: $tablet) {
      width: 354px;
      height: 120px;
    }
    @media screen and (min-width: $desctop) {
      width: 270px;
      min-height: 120px;
      margin-bottom: 30px;
    }
  }
}
